In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('./../../data/raw_data.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [5]:
education = {
    1: 'Below College',
    2: 'College',
    3: 'Bachelor',
    4: 'Master',
    5: 'Doctor'
}

environment_satisfaction = {
1: 'Low',
2: 'Medium',
3: 'High',
4: 'Very High',
}

job_involvement={
1: 'Low',
2: 'Medium',
3: 'High',
4: 'Very High'
}

job_satisfaction = {
1: 'Low',
2: 'Medium',
3: 'High',
4: 'Very High',
}

performance_rating = {
1: 'Low',
2: 'Good',
3: 'Excellent',
4: 'Outstanding'
}

relationship_satisfaction = {
1: 'Low',
2: 'Medium',
3: 'High',
4: 'Very High'
}

work_life_balance = {
1: 'Bad',
2: 'Good',
3: 'Better',
4: 'Best'
}

job_level = {
    1: 'level_1',
    2: 'level_2',
    3: 'level_3',
    4: 'level_4',
    5: 'level_5'
}

stock_option_level = {
    0: 'level_0',
    1: 'level_1',
    2: 'level_2',
    3: 'level_3'
}

In [6]:
df['Education'] = df['Education'].replace(education)

In [7]:
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].replace(environment_satisfaction)

In [8]:
df['JobInvolvement'] = df['JobInvolvement'].replace(job_involvement)

In [9]:
df['JobSatisfaction'] = df['JobSatisfaction'].replace(job_satisfaction)

In [10]:
df['PerformanceRating'] = df['PerformanceRating'].replace(performance_rating)

In [11]:
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].replace(relationship_satisfaction)

In [12]:
df['WorkLifeBalance'] = df['WorkLifeBalance'].replace(work_life_balance)

In [13]:
df['JobLevel'] = df['JobLevel'].replace(job_level)

In [14]:
df['StockOptionLevel'] = df['StockOptionLevel'].replace(stock_option_level)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   object
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   object
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   object
 14  JobLevel                  1470 non-null   object
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   object
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   object
 25  RelationshipSatisfaction  1470 non-null   object
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   object
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   object
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(17), object(18)
memory usage: 402.1+ KB

In [16]:
cat_df = df.select_dtypes(include='object')

In [17]:
cat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 1470 non-null   object
 1   BusinessTravel            1470 non-null   object
 2   Department                1470 non-null   object
 3   Education                 1470 non-null   object
 4   EducationField            1470 non-null   object
 5   EnvironmentSatisfaction   1470 non-null   object
 6   Gender                    1470 non-null   object
 7   JobInvolvement            1470 non-null   object
 8   JobLevel                  1470 non-null   object
 9   JobRole                   1470 non-null   object
 10  JobSatisfaction           1470 non-null   object
 11  MaritalStatus             1470 non-null   object
 12  Over18                    1470 non-null   object
 13  OverTime                  1470 non-null   object
 14  PerformanceRating         1470 non-null   object
 15  RelationshipSatisfaction  1470 non-null   object
 16  StockOptionLevel          1470 non-null   object
 17  WorkLifeBalance           1470 non-null   object
dtypes: object(18)
memory usage: 206.8+ KB

In [18]:
num_df = df.select_dtypes(exclude='object')

In [19]:
num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   DailyRate                1470 non-null   int64
 2   DistanceFromHome         1470 non-null   int64
 3   EmployeeCount            1470 non-null   int64
 4   EmployeeNumber           1470 non-null   int64
 5   HourlyRate               1470 non-null   int64
 6   MonthlyIncome            1470 non-null   int64
 7   MonthlyRate              1470 non-null   int64
 8   NumCompaniesWorked       1470 non-null   int64
 9   PercentSalaryHike        1470 non-null   int64
 10  StandardHours            1470 non-null   int64
 11  TotalWorkingYears        1470 non-null   int64
 12  TrainingTimesLastYear    1470 non-null   int64
 13  YearsAtCompany           1470 non-null   int64
 14  YearsInCurrentRole       1470 non-null   int64
 15  YearsSinceLastPromotion  1470 non-null   int64
 16  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(17)
memory usage: 195.4 KB

In [20]:
static_dict = {
    'categorical_columns': list(cat_df.columns),
    'numerical_columns': list(num_df.columns)
}

In [21]:
with open('./../../data/statics.json', 'w') as f:
    json.dump(static_dict, f)

In [22]:
df.to_csv('./../../data/data.csv', index=False)